@model IEnumerable<BListViewModel>

<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Receiver Name</th>
            <th scope="col">Receiver Address</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var (item, index) in Model.Select((value, i) => (value, i + 1)))
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.RecipientName</td>
                <td>@item.RecipientAddress</td>
                <td>@item.Status</td>
                <td>
                    <a asp-controller="Branch" asp-action="Edit" asp-route-HashCode="@item.HashCode">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-controller="Branch" asp-action="Details" class="ms-2" asp-route-HashCode="@item.HashCode">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    @if (item.Status == "Tamamlandı")
                    {
                        <a asp-controller="Branch" asp-action="RemoveCargo" class="ms-2" asp-route-HashCode="@item.HashCode">
                            <i class="fa-solid fa-trash"></i> </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
