@model IndexViewModel

@section navbar {
    @await Component.InvokeAsync("User")
}

<div class="row p-3">
    <div class="col-md-3">
        <div class="card d-flex align-items-center">
            <img src="/img/@Model.UserInfos.ImageUrl" class="card-img-top rounded-circle" style="width: 200px;">
            <div class="card-body">
                <h5 class="card-title">@Model.UserInfos.Username</h5>
                <p class="card-text">@Model.UserInfos.Email</p>
                <p class="card-text">@Model.UserInfos.Phone</p>
                <p class="card-text">@Model.UserInfos.Address</p>
                <a href="/User/Settings" class="text-primary">Düzenlemek ister misiniz?</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <a href="/User/SendCargo" class="btn btn-outline-primary">Kargo gonderin</a>
        <a href="/User/TrackCargo" class="btn btn-outline-success">kargolarınızı izleyin</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender Name</th>
                    <th scope="col">status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Cargos != null && Model.Cargos.Any())
                {
                    for (int i = 0; i < Model.Cargos.Count; i++)
                    {
                        var item = Model.Cargos[i];
                        @if (item.Status != "Teslim Edildi" || item.Status == "Tamamlandı")
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th> <!-- Index değeri için 1 ekliyoruz -->
                                <td>@item.SenderName</td>
                                <td>@item.Status</td>
                                <td>
                                    <a asp-controller="User" asp-action="Detail" asp-route-HashCode="@item.HashCode">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">Kargo bilgisi bulunamadı.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="https://kit.fontawesome.com/fa3609583e.js" crossorigin="anonymous"></script>

}
